/* navbar */

.sub-logo{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.navbar-default{
  background-color: black;
}

a.nav-link{
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}
/* hero-header */
.header {
  padding-top: 310px;
  background: url('../img/photo.png');
  background-color: black;
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  min-height: 1080px;
}

.sub-title {
  font-family: 'Leckerli One', cursive;
  color:#fff;
  font-size: 36px;
  font-weight: 400;
}

.blue {
 color: #0081ff;

}

.head-title {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 57px;
}

.para-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 300;
}

.para-lead {
  color: #636363;
  font-family: 'Cambay', sans-serif;
font-size: 24px;
line-height: 34px;
font-weight: 400;
}

.btn-about {
  background-color: #2b2b2b;
  box-shadow: 0 10px 30px rgba(146, 146, 146, 0.3);
  border-radius: 30px;
  border: #2b2b2b;
  width: 160px;
  height: 60px;
}

/* About me */

#about{
  padding-top: 133px;
  background-color: #0081ff;
  padding-bottom: 83px;
}

#about h2 {
  color: white;
  font-family: 'Leckerli One', cursive;
  font-size: 36px;
  font-weight: 400;
}

.para-about1{
  color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:42px;
    font-weight: 700;
    line-height: 47px;

}

.para-about2 {
  font-family: 'Cambay', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}


/* Section icone */

#icon{
  padding-top: 80px;
  background-color: #0069ff;
  min-height: 315px;
  padding-bottom: 83px;
}

.para-icon{
    font-family: 'Cambay', sans-serif;
    color: white;

}
